/* Media Query Desktop, tablet y mobile */

/* Media Query Index */

@media (max-width: 1024px) {
    
    .index-circles-container {
        width: 120px;
        height: 120px;
        font-size: 16px;
        padding: 15px;
        margin-right: 20px;
        }
}

@media (max-width: 768px) {

    .index-contain {
        padding: 20px;
    }

    .index-circles-container {
        width: 100px;
        height: 100px;
        font-size: 14px;
        padding: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 380px) {

    .index-circles-container {
        width: 80px;
        height: 80px;
        font-size: 12px;
        padding: 8px;
        margin-right: 5px;
    }
}


/* Media Query Sobrenosotros */

@media (max-width: 1024px){

    .about-card {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    img {
        width: 70% !important;
        margin-bottom: 15px; 
    }
    
    .about-card-container {
        padding: 20px;
        margin: 15px 15px 0px 15px; 
    }


    .pilares-card-container {
        height: 340px;
    }
}   

@media (max-width: 768px) {

    .about-card {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    img {
        width: 70% !important;
        margin-bottom: 15px; 
    }
    
    .about-card-container {
        padding: 20px;
        margin: 15px 15px 0px 15px; 
    }

    .pilares-card {
        gap: 0px;
        justify-content: center;
        align-items: center;
        padding: 10px 10px 10px 20px;
    }
}

@media (max-width: 380px) {

    .about-card {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    img {
        width: 70% !important;
        margin-bottom: 15px; 
    }
    
    .about-card-container {
        padding: 20px;
        margin: 15px 15px 0px 15px; 
    }

    .pilares-card {
        gap: 0px;
        justify-content: center;
        align-items: center;
        padding: 10px 10px 10px 20px;
    }
}


/* Media Query Servicios */

@media (max-width: 1024px){

}

@media (max-width: 768px) {

}

@media (max-width: 380px) {

}

/* Media Query Promociones */

@media (max-width: 1024px){

}

@media (max-width: 768px) {
    .grid {
        grid-template-rows: repeat(6, 300px);
    }

    .box {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-rows: repeat(6, 300px);
    }

    .box {
        height: 300px;
    }
}


/* Media Query Contacto */

@media (max-width: 1024px) {

    .contact-info {
        flex-direction: column;
    }

    .maps {
        max-width: 500px; 
        height: 320px;
        margin: 10px 10px;
    }
    
}

@media (max-width: 768px) {

    .contact {
        text-align: center;
    }

    h2 {
        padding: 10px;
    }

    .contact-ubicacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px;
    }

    .maps {
        max-width: 450px; 
        height: 300px;
        margin: 10px 10px;
    }
    
    .contact-info {
        display: flex;
        flex-direction: column; 
        margin-top: 20px;
    }

    .contact-div {
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 380px) {
    
    h2 {
        font-size: 24px;
    }

    .contact-ubicacion {
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 18px;
        }
    }

    .maps {
        max-width: 340px; 
        height: 150px; 
        margin: 10px 10px;
    }

    .contact-info {
        flex-direction: column;

        div {
            margin-bottom: 10px;
            padding: 5px;
        }
    
    }
}

/* Media Query Footer */

@media (max-width: 1024px) {
    .facebook,
    .instagram,
    .twitter {
        bottom: 10px;
        right: 10px;
        padding-right: 5px;
    }

    .facebook {
        width: 30px; 
        margin-left: 10px;  
    }

    .instagram {
        width: 40px;
    }

    .twitter {
        width: 25px;
    }
}

@media (max-width: 768px) {

    .facebook,
    .instagram,
    .twitter {
        bottom: 10px;
        right: 10px;
        padding-right: 5px;
    }

    .facebook,
    .instagram,
    .twitter,
    .wsp {
        width: 5px; 
        margin: 0 5px; 
    }
}

@media (max-width: 380px) {

    .facebook,
    .instagram,
    .twitter {
        bottom: 10px;
        right: 10px;
        padding-right: 5px;
    }

    .facebook,
    .instagram,
    .twitter,
    .wsp {
        width: 5px; 
        margin: 0 5px; 
    }
}

