/* Servicios*/

main {

    .servicios {  
        text-align: center;
    }

    .servicios-container {
        margin: 10px;

        h2 {
            margin-top: 10px;
        }
    
        p {
            padding: 10px;
            margin-left: 20px;
            margin-bottom: 25px;
            text-align: center;
        }
    }
    
    .servicios-container-span {
        width: 100%;
        background-color: #f0f0f0; 
        padding: 20px; 
        animation: bounce;
        animation-duration: 3s; 

        p{
            display: block; 
            text-align: center; 
            font-weight: bold;
            font-size: 18px; 
        }
    }
    
    .servicios-card {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-evenly;

    }

    .servicios-card-container {
        @include tam (400px, 550px);
        @include flex ();
        text-align: justify;
        justify-content: center; 
        border: 2px solid $borderColor;
        border-radius: 5px;
        background-color: $bodyColor;
        padding: 20px;
        margin: 20px;
        transition: 1.5s; 

        img {
            @include tam (340px, 200px);
            padding: 20px; 
            object-fit: cover;
            overflow: hidden;
            transition: 1.5s; 
            filter: brightness(0.8);
        }

        h2 {
            padding: 5px;
            text-align: left;
            margin-bottom: 5px;
        }

        p {
            line-height: 1.5;
            font-size: 16px; 
            font-weight: bold;
        }

        &:hover{
            background-color:  $ligthcolor;
            box-shadow: 3px 3px 13px 5px  $boxColor;
        }

        &:nth-child(even){
            background-color: $secondColor;
            flex-direction: column;
        }

        &:hover img{
            filter: blur(0);
            @include tam (400px, 250px);
        }
    }
}