/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente Web de texto - importada de google*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Kanit:wght@300;400&family=Poppins:ital,wght@0,400;1,300&display=swap');

/* En todas las Layouts */

body {
    @if $theme == light {
        background-color:#BDC3C7;
        color: black;
    } @else if $theme == dark {
        background-color: #5f4c6d;
        color:white;
    } @else {
        background-color: #aef4f3;
        color:black;
    }
}

body {
    font-family: $bodyFont;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Fira Sans', serif;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Poppins';
}

p::selection{
    background-color: #eceac198;
}

