/* Variables */

$bodyColor:#BDC3C7;
$secondColor:rgb(191, 198, 222); 
$ligthcolor:#b3bdec;
$borderColor: rgb(235, 244, 185);
$boxColor:#11111129;

$bodyFont: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
